* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .header_left_side img {
    height: 40px;
  }
  
  .user_icon {
    border-radius: 100%;
    width: 45px;
  }
  
  .header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  }
  
  .header_left_side{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .find_freinds {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 5px;
    margin-left: 5px;
    border-radius: 999px;
  }
  
  .find_freinds input {
    border: none;
    background-color: transparent;
    text-align: center;
    outline-width: 0;
  }
  
  .header_middle{
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  .nav_icon .material-icons {
    font-size: xx-large;
    color: gray;
  }
  
  .nav_icon:hover .material-icons {
    color: #2e81f4;
  }
  
  .nav_icon {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
  }

  
  .nav_icon:hover {
    background-color: #eff2f5;
    border-bottom: 4px solid #2e81f4;
    color: #2e81f4;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;

  }
  
  .logged_user {
    display: flex;
    align-items: center;
  }
  
  .logged_user span {
    margin-left: 10px;
    font-weight: 600;
  }

  .logged_user img {
    width: 35px;

  }
  
  .header_right_side {
    display: flex;
    align-items: center;
  }
  
  .header_right_side .material-icons {
    color: gray;
    margin: 0 10px;
  }
  
  .header_right_side .material-icons:hover {
    cursor: pointer;
  }
  
 