* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.header_left_side img {
  height: 40px;
  margin-right: 20px;
}
.profile_image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.user_icon {
  margin: 0 10px;
  border-radius: 50%;
  width: 45px;
}

.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header_left_side {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.find_freinds {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 5px;
  margin-left: 5px;
  border-radius: 999px;
}

.find_freinds input {
  border: none;
  background-color: transparent;
  text-align: center;
  outline-width: 0;
}

.header_middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav_icon .material-icons {
  font-size: xx-large;
  color: gray;
}

.nav_icon:hover .material-icons {
  color: #2e81f4;
}

.nav_icon {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.nav_icon:hover {
  background-color: #eff2f5;
  border-bottom: 4px solid #2e81f4;
  color: #2e81f4;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
}

.logged_user {
  display: flex;
  align-items: center;
}

.logged_user h4 {
  margin-right: 10px;
}

.header_right_side {
  display: flex;
  align-items: center;
}

.header_right_side .material-icons:hover {
  cursor: pointer;
}

/* sidebar  */

.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow h4 {
  margin-left: 20px;
  font-weight: 600;
}

.main_body {
  display: flex;
}

body {
  background-color: #f1f2f5;
}

.feed {
  flex: 1;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding: 25px 10px;
  flex: 0.33;
}

/* message sender */

.new_post {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.text_field {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}

.text_field form {
  flex: 1;
  display: flex;
}

.text_field form input {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 15px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.posting_field {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.postfield_buttons {
  padding: 8px;
  display: flex;
  align-items: flex-end;
  color: gray;
  margin: 5px;
}

.postfield_buttons h3 {
  font-size: medium;
  margin-left: 10px;
}

.postfield_buttons:hover {
  cursor: pointer;
  background-color: #eff2f5;
  border-radius: 20px;
}

/* post */

.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__image img {
  width: 100%;
  max-height: 400px;
}

.post_header {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post_icon {
  margin-right: 10px;
}

.post_info h3 {
  font-size: medium;
}

.post_info p {
  font-size: small;
  color: gray;
}

.post_msg {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.post_footer {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}

.post_like {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px;
  flex: 1;
}

.post_like p {
  margin-left: 10px;
}

.post_like :hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

.setting-munu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.5s;
}
.setting-menu-height {
  max-height: 450px;
}
.user-profile a {
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile small {
  font-size: 12px;
}

.setting-menu-inner {
  padding: 20px;
}
.setting-munu hr {
  border: 0;
  height: 1px;
  background: var(--bg-color);
  margin: 15px 0;
}
.setting-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.setting-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.setting-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}
#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}
#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #0a0a0a;
}
.name {
  text-transform: capitalize;
}

.dark-theme {
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav_icon .material-icons {
    font-size: x-large;
    color: gray;
  }

  .sidebar {
    display: none;
  }

  .friends_list {
    display: none;
  }

  .feed {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 320px) {
  .header {
    width: 100%;
  }

  .feed {
    width: 100%;
    padding: 10px 50px;
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  /* CSS To Target 767 px width of screen */

  .feed {
    width: 100%;
    padding: 10px 50px;
  }
}
